<%= form_for @node, :html => { :class => "form-horizontal node" } do |f| %>

    <% if @node.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @node.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :node_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :node_id, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:node_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :latitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :latitude, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:latitude]) %>
  </div>
  <div class="control-group">
    <%= f.label :longitude, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :longitude, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:longitude]) %>
  </div>
  <div class="control-group">
    <%= f.label :link_1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link_1, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:link_1]) %>
  </div>
  <div class="control-group">
    <%= f.label :link_2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link_2, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:link_2]) %>
  </div>
  <div class="control-group">
    <%= f.label :link_3, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link_3, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:link_3]) %>
  </div>
  <div class="control-group">
    <%= f.label :link_4, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link_4, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:link_4]) %>
  </div>
  <div class="control-group">
    <%= f.label :link_5, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link_5, :class => 'form-control' %>
    </div>
    <%= error_span(@node[:link_5]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            nodes_path, :class => 'btn btn-default' %>

<% end %>
