<%- model_class = Node -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_node_path,
                  :class => 'btn btn-primary' %>
    </div>
    <%= form_tag import_nodes_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import", class: "btn btn-info" %>
    <% end %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:node_id) %></th>
      <th><%= model_class.human_attribute_name(:latitude) %></th>
      <th><%= model_class.human_attribute_name(:longitude) %></th>
      <th><%= model_class.human_attribute_name(:link) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @nodes.each do |node| %>
      <tr>
        <td><%= link_to node.node_id, node %></td>
        <td><%= node.latitude %></td>
        <td><%= node.longitude %></td>
        <td>
          <% node.links.each do |link| %>
            <%= link_to link.link_id, link %>
          <% end %>
        </td>
        <td><%=l node.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_node_path(node), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      node_path(node),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
